
#scroller li{
	height:200px;  
	list-style-type:none;  

}
.skill{


}
.skill div{
}
#header ul{

	 display: flex;
     justify-content:space-between;  
    list-style:none;
     align-items:center;

}